body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0F1C2E; 
    color: #fff;
}

header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent),
                linear-gradient(135deg, #00274E, #021E3A, #2A86FF, #001F3F);
    background-size: 100% 100%, 600% 600%;
    background-position: right, center;
    color: #fff;
    text-align: center;
    padding: 40px;
    position: relative;
    overflow: hidden;
    animation: gradientAnimation 4s infinite, pulsate 2s infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

h1 {
    margin: 0;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



section {
    margin: 40px 20px;
    padding: 20px;
    background-color: #0F1C2E; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

section:hover {
    transform: scale(1.05);
    background-color: #0A1525; 
}


button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}




#about-me-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 4000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out;
   color: #36047d;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#about-me {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

#about-me:hover {
    color: #3498db;
}

#close-btn {
    background-color: #3498db;
    color: #36047d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#close-btn:hover {
    background-color: #2980b9;
}


#education-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 4000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out;
   color: #36047d;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#education {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

#education:hover {
    color: #3498db;
}

#close-btn {
    background-color: #3498db;
    color: #36047d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#close-btn:hover {
    background-color: #2980b9;
}


#experience-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 4000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out;
   color: #36047d;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#experience {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

#experience:hover {
    color: #3498db;
}

#close-btn {
    background-color: #3498db;
    color: #36047d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#close-btn:hover {
    background-color: #2980b9;
}


#skills-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 4000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out;
   color: #36047d;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#skills {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

#skills:hover {
    color: #3498db;
}

#close-btn {
    background-color: #3498db;
    color: #36047d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#close-btn:hover {
    background-color: #2980b9;
}



#projects {
    
}


#contacts-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 4000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out;
   color: #36047d;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#contacts {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

#contacts:hover {
    color: #3498db;
}

#close-btn {
    background-color: #3498db;
    color: #36047d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#close-btn:hover {
    background-color: #2980b9;
}

